mixin headerBlockPart()
	.alems.alems--back.d-none.d-sm-block#headElemsBack
		+b.el--1( data-depth=".2" data-scalar-x="14" data-scalar-y="20"): div(data-aos="fade-up"  data-aos-duration="2000")
			img(src="img/el-1.png", alt="")
		+b.el--2( data-depth="0.2"): div(data-aos="fade-up"   data-aos-duration="2000")
			img(src="img/el-2.png", alt="")
		+b.el--3( data-depth="0.3"): div(data-aos="fade-up"  data-aos-duration="2000")
			img(src="img/el-3.png", alt="")
		
	.alems.d-none.d-sm-block#headElems 
		
		+b.el--4( data-depth="0.1"): div(data-aos="fade-up" data-aos-delay="500"    data-aos-duration="2000" )
			img(src="img/el-4.png", alt="")
		+b.el--5( data-depth="0.2"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-5.png", alt="")
		+b.el--6( data-depth="0.3"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-6.png", alt="")
		+b.el--7( data-depth="0.1"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-7.png", alt="")
	.before( data-aos="zoom-in"  data-aos-delay="500"    data-aos-duration="1000")
			//- <model-3d background-color="#000000" src="/models/3Dmodel.glb"></model-3d>
	div(data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000")
		//- #container3D.premia-block
		#container3D.premia-block.d-none.d-md-block
		.d-md-none
			img(src="img/premia.png", alt="").res-i.main-img
	+e.title
		+e.text.animate-text-wrap
			.animate-text( data-aos="fade-up"  data-aos-delay="800")  НАЦИОНАЛЬНАЯ ПРЕМИЯ  ЗА&nbsp;ВКЛАД В&nbsp;РАЗВИТИЕ РОССИЙСКОГО СЕГМЕНТА СЕТИ ИНТЕРНЕТ
		span.h1.animate-text-wrap
			span.animate-text( data-aos="fade-up"  data-aos-delay="800")  Премия 
		span.h1.animate-text-wrap
			span.animate-text( data-aos="fade-up"  data-aos-delay="800")  РУНЕТА 
		span.h1.animate-text-wrap
			span.text-primary.animate-text-wrap
				span.animate-text( data-aos="fade-up"  data-aos-delay="800")  2023
				
mixin headerBlock()

	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container-xl-fluid.container
			+headerBlockPart()
			+e.footer.row
				.col-lg-auto
					+e.row.row( data-aos="fade-up" data-aos-delay="500") 
						.col-lg-auto
							a.btn.btn-primary.btn-circle(href="#") подать заявку
						.col-auto.ttu.order-sm-first
							+e.date.text-sm-end приём заявок
								.strong до 28 НОЯБРЯ
				.col.order-lg-first( data-aos="fade-up" data-aos-delay="500" data-aos-offset="50") 
					+img("img/head-logo-1.png").res-i
					+img("img/head-logo-2.png").res-i

	// end headerBlock

	
mixin headerBlock02Part()
	.alems.alems--back.d-none.d-sm-block#headElemsBack
		+b.el--1(data-aos="fade-up" data-aos-duration="2000" data-depth=".2" data-scalar-x="14" data-scalar-y="20")
			img(src="img/el-1.png", alt="")
		+b.el--2(data-aos="fade-up" data-aos-duration="2000" data-depth="0.2")
			img(src="img/el-2.png", alt="")
		+b.el--3(data-aos="fade-up" data-aos-duration="2000" data-depth="0.3")
			img(src="img/el-3.png", alt="")
	.before( data-aos="zoom-in"  data-aos-delay="500"    data-aos-duration="1000")
	.alems#headElems 
		
		+b.el--4.--1-page( data-depth="0.1"): div(data-aos="fade-up" data-aos-delay="500"    data-aos-duration="2000" )
			img(src="img/el-10-1.png", alt="")
		+b.el--5-1( data-depth="0.2"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-5.png", alt="")
		+b.el--6.--6-page( data-depth="0.3"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-6.png", alt="")
		+b.el--7-1( data-depth="0.1"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-17.png", alt="")
			//- img(src="img/premia.png", alt="").res-i
			//- <model-3d background-color="#000000" src="/models/3Dmodel.glb"></model-3d>
		div( data-depth="0.05")
			+b.premia-block--page(data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000")
				img(src="img/head-img-2.png", alt="").res-i
	+e.head
		+e.title
			span.h1.animate-text-wrap
				span.animate-text( data-aos="fade-up"  data-aos-delay="800") Эксперты
		.container
			+e.text-page.d-none.d-lg-block
				.animate-text(data-aos="fade-up" data-aos-delay="800")
					p В&nbsp;этом разделе представлены номинанты Премии Рунета. Кликая по&nbsp;названиям кейсов, вы&nbsp;можете ознакомиться с&nbsp;проектами, представленными на&nbsp;конкурсе в&nbsp;2023 году
mixin headerBlock02(title)
	// start headerBlock
	+b.headerBlock--page.section#headerBlock&attributes(attributes)
		.container-xl-fluid.container
			+headerBlock02Part()
			+e.footer.row
				.col-lg-auto
					+e.row.row( data-aos="fade-up" data-aos-delay="500") 
						.col-lg-auto
							a.btn.btn-primary.btn-circle(href="#") стать экспертом
						.col-auto.ttu.order-sm-first.d-none.d-md-block
							+e.date.text-lg-end В этом разделе представлен #[strong экспертный состав Премии 2023]
				.col.order-lg-first.my-0

	// end headerBlock


mixin headerBlock03Part()
	.alems.alems--back#headElemsBack
		+b.el--1(data-aos="fade-up" data-aos-duration="2000" data-depth=".2" data-scalar-x="14" data-scalar-y="20")
			img(src="img/el-1.png", alt="")
		+b.el--2(data-aos="fade-up" data-aos-duration="2000" data-depth="0.2")
			img(src="img/el-2.png", alt="")
		+b.el--3(data-aos="fade-up" data-aos-duration="2000" data-depth="0.3")
			img(src="img/el-3.png", alt="")
	.before( data-aos="zoom-in"  data-aos-delay="500"    data-aos-duration="1000")
	.alems#headElems 
	
		+b.el--4.--4-page3( data-depth="0.1"): div(data-aos="fade-up" data-aos-delay="500"    data-aos-duration="2000" )
			img(src="img/el-18.png", alt="")
		+b.el--18-page3( data-depth="0.1"): div(data-aos="fade-up" data-aos-delay="500"    data-aos-duration="2000" )
			img(src="img/el-18-3.png", alt="")
		+b.el--5( data-depth="0.2"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-5.png", alt="")
		+b.el--6.--6-page3( data-depth="0.3"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-19.png", alt="")
		+b.el--7-2( data-depth="0.1"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-20.png", alt="")
			//- img(src="img/premia.png", alt="").res-i
			//- <model-3d background-color="#000000" src="/models/3Dmodel.glb"></model-3d>
		div( data-depth="0.05")
			+b.premia-block--page3(data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000")
				img(src="img/head-img-3.png", alt="").res-i
	+e.head
		+e.title
			span.h1.animate-text-wrap
				span.animate-text( data-aos="fade-up"  data-aos-delay="800") Номинанты
		.container
			+e.text-page.d-none.d-md-block
				.animate-text(data-aos="fade-up" data-aos-delay="800")
					p В&nbsp;этом разделе представлены номинанты Премии Рунета. Кликая по&nbsp;названиям кейсов, вы&nbsp;можете ознакомиться с&nbsp;проектами, представленными на&nbsp;конкурсе в&nbsp;2023 году
mixin headerBlock03(title)
	// start headerBlock
	+b.headerBlock--page.--page-nominees.section#headerBlock&attributes(attributes)
		.container-xl-fluid.container
			+headerBlock03Part()
			//- +e.footer.row
			//- 	.col-lg-auto
			//- 		+e.row.row( data-aos="fade-up" data-aos-delay="500") 
			//- 			.col-lg-auto
			//- 				a.btn.btn-primary.btn-circle(href="#") стать экспертом
			//- 			.col-auto.ttu.order-sm-first.d-none.d-md-block
			//- 				+e.date.text-lg-end В этом разделе представлен #[strong экспертный состав Премии 2023]
			//- 	.col.order-lg-first.my-0

	// end headerBlock


mixin headerBlock08Part()
	.alems.alems--back#headElemsBack
		+b.el--1(data-aos="fade-up" data-aos-duration="2000" data-depth=".2" data-scalar-x="14" data-scalar-y="20")
			img(src="img/el-1.png", alt="")
		+b.el--2(data-aos="fade-up" data-aos-duration="2000" data-depth="0.2")
			img(src="img/el-2.png", alt="")
		+b.el--3(data-aos="fade-up" data-aos-duration="2000" data-depth="0.3")
			img(src="img/el-3.png", alt="")
		.before( data-aos="zoom-in"  data-aos-delay="500"    data-aos-duration="1000")
	.alems#headElems 
	
		+b.el--4.--4-page3( data-depth="0.1"): div(data-aos="fade-up" data-aos-delay="500"    data-aos-duration="2000" )
			img(src="img/el-18.png", alt="")
		+b.el--5( data-depth="0.2"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-5.png", alt="")
		+b.el--21( data-depth="0.3"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-21.png", alt="")
		+b.el--15( data-depth="0.1"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-15.png", alt="") 
		//- +b.el--7-2( data-depth="0.1"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-20.png", alt="") 
		+b.el--22( data-depth="0.1"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-22.png", alt="") 
mixin headerBlock08(title)
	// start headerBlock
	+b.headerBlock--form.section#headerBlock&attributes(attributes)
		.container-xl-fluid.container
			+headerBlock08Part()
			+b.form-wrap
				h1 Авторизация
				+input('Введите RUNET-ID','text','RUNET-ID')(autocomplete="off")
				+input('Введите пароль','password','Пароль')(autocomplete="off")
				+e.input-wrap.row
					.col
						+in-c('checkbox','Запомнить меня')
					.col-auto
						a(href="#").strong Восстановить пароль
				button.btn.btn-primary.w-100.btn-lg(type="submit" ) Войти
				+e.input-wrap.row
					.col
						| Вы можете авторизоваться при помощи учетных&nbsp;записей социальных сетей:
					.col-auto
						+soc
				+e.footer Если у&nbsp;Вас нет аккаунта RUNET-ID, Вы&nbsp;можете его #[a(href="#").strong  зарегистрировать]

	// end headerBlock




mixin headerBlock09Part(title)
	.alems.alems--back#headElemsBack
		+b.el--1(data-aos="fade-up" data-aos-duration="2000" data-depth=".2" data-scalar-x="14" data-scalar-y="20")
			img(src="img/el-1.png", alt="")
		+b.el--2(data-aos="fade-up" data-aos-duration="2000" data-depth="0.2")
			img(src="img/el-2.png", alt="")
		+b.el--3(data-aos="fade-up" data-aos-duration="2000" data-depth="0.3")
			img(src="img/el-3.png", alt="")
		.before( data-aos="zoom-in"  data-aos-delay="500"    data-aos-duration="1000")
	.alems#headElems
		+b.el--4.--4-page3( data-depth="0.1"): div(data-aos="fade-up" data-aos-delay="500"    data-aos-duration="2000" )
			img(src="img/el-18.png", alt="")
		+b.el--18( data-depth="0.2"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-18.png", alt="")
		+b.el--23( data-depth="0.3"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-23.png", alt="")
		+b.el--24( data-depth="0.1"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-24.png", alt="")
		//- +b.el--7-2( data-depth="0.1"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-20.png", alt="")
		+b.el--25( data-depth="0.1"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-25.png", alt="")
mixin headerBlock09(title)
	// start headerBlock
	+b.headerBlock--form.--form-invoicing.section#headerBlock&attributes(attributes)
		.container-xl-fluid.container
			+headerBlock09Part(title)
			+b.form-wrap
				.row 
					.col
						h1 Оплата
					.col-auto.align-self-end
						+b.link-back(href="#")
							+icon("chevron-left")
							| Вернуться назад
				+e.block
					table
						thead
							tr
								th Название
								th Цена
						tbody
							tr
								td Участие в номинации «Государство и Общество»
								td 15 000 ₽
							tr
								td Участие в номинации «Образование и кадры»
								td 15 000 ₽
							tr
								td Участие в номинации «Народов много – Родина одна»
								td 15 000 ₽
					+e.total 
						| Итого:
						strong 45 000 ₽
				+e.input-wrap
					+in-c('checkbox')
						+e.text Я согласен с условиями #[a(href="#").strong договора оферты] и готов перейти к оплате
				.row.gy-0.align-items-start
					.col-md-6.order-md-last
							button.btn.btn-dark.w-100.btn-lg(type="button" ) Выставить счёт 
								small Для юридических лиц
					.col-md-6
							button.btn.btn-dark.w-100.btn-lg(type="submit" ) Оплатить картой 
								small Для физических лиц 
							+e.payments.text-center
								img(src="img/pay-1.svg", alt="")
								img(src="img/pay-2.svg", alt="")
								img(src="img/pay-3.svg", alt="")

	// end headerBlock


mixin headerBlock10Part(title)
	.alems.alems--back.d-none.d-sm-block#headElemsBack
		+b.el--1(data-aos="fade-up" data-aos-duration="2000" data-depth=".2" data-scalar-x="14" data-scalar-y="20")
			img(src="img/el-1.png", alt="")
		+b.el--2(data-aos="fade-up" data-aos-duration="2000" data-depth="0.2")
			img(src="img/el-2.png", alt="")
		+b.el--3(data-aos="fade-up" data-aos-duration="2000" data-depth="0.3")
			img(src="img/el-3.png", alt="")
		.before( data-aos="zoom-in"  data-aos-delay="500"    data-aos-duration="1000")
	.alems.d-none.d-sm-block#headElems
		+b.el--25-envoicing( data-depth="0.1"): div(data-aos="fade-up" data-aos-delay="500"    data-aos-duration="2000" )
			img(src="img/el-25.png", alt="")
		+b.el--22-envoicing( data-depth="0.02"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-22.png", alt="")
		
		+b.el--26-envoicing( data-depth="0.5"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-26.png", alt="")
		+b.el--18-envoicing( data-depth="0.1"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-18.png", alt="")
		//- +b.el--7-2( data-depth="0.1"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-20.png", alt="")
		//- +b.el--22-envoicing( data-depth="0.1"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
			img(src="img/el-22.png", alt="")

mixin headerBlock10(title)
	// start headerBlock
	+b.headerBlock--form.--form-invoicing.section#headerBlock&attributes(attributes)
		.container-xl-fluid.container
			+headerBlock10Part(title)
			+b.form-wrap
				h1 Выставление счета
				+e.input-wrap
					p Пожалуйста внимательно заполните реквизиты компании, которая будет оплачивать Ваше участие. Указанные Вами данные будут использованы в&nbsp;выставленном счете. Документы на&nbsp;оплату будут созданы автоматически, без проверки корректности реквизитов.
				+e.input-wrap
					+in-c('checkbox','Иностранная компания')
				.row
					.col-md-6
						+input('10 или 12 цифр','text','ИНН ','number')
					.col-md-6
						+input('9 цифр','text','КПП ','number')
				+input('Введите название','text','Название компании')
				+input('Введите юридический адрес компании','textarea','Юридический адрес (с индексом')
				+input('Введите почтовый адрес компании','textarea','Почтовый адрес (с индексом)')
				+input('+7 (999) 999 - 99 - 99','tel','Телефон')
				+e.input-wrap
					+e.input-title Как вы хотите получить закрывающие документы по счету?
					.select-wrap
						select.form-select.select-js
							option(value="") На бумаге, адрес указан в счете 1
							option(value="") На бумаге, адрес указан в счете 2
							option(value="") На бумаге, адрес указан в счете 3
				.row.gy-0
					.col-md-6
							button.btn.btn-dark.w-100.btn-lg(type="submit" ) выставить счет
					.col-md-6.order-md-first
							button.btn.btn-dark.w-100.btn-lg(type="button" ) отменить

	// end headerBlock


mixin headerBlock404(title)
	// start headerBlock
	+b.headerBlock--page.--page-404.section#headerBlock&attributes(attributes)
		.container-xl-fluid.container
			.alems.alems--back#headElemsBack
				+b.el--1(data-aos="fade-up" data-aos-duration="2000" data-depth=".2" data-scalar-x="14" data-scalar-y="20")
					img(src="img/el-1.png", alt="")
				+b.el--2(data-aos="fade-up" data-aos-duration="2000" data-depth="0.2")
					img(src="img/el-2.png", alt="")
				+b.el--3(data-aos="fade-up" data-aos-duration="2000" data-depth="0.3")
					img(src="img/el-3.png", alt="")
			.before( data-aos="zoom-in"  data-aos-delay="500"    data-aos-duration="1000")
			.alems#headElems 
			
				+b.el--4-p404( data-depth="0.1"): div(data-aos="fade-up" data-aos-delay="500"    data-aos-duration="2000" )
					img(src="img/el-18-3.png", alt="")
				+b.el--5( data-depth="0.2"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
					img(src="img/el-5.png", alt="")
				+b.el--6-404( data-depth="0.3"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
					img(src="img/el-19.png", alt="")
				+b.el--18-p404( data-depth="0.1"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
					img(src="img/el-18.png", alt="")
					//- img(src="img/premia.png", alt="").res-i
					//- <model-3d background-color="#000000" src="/models/3Dmodel.glb"></model-3d>
			+b.center-404(data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000")
				+e.title.mono#scene404
					span 4
					.img-wrap( data-depth="0.05").el
							img(src="img/list.png", alt="")
					span 4
				+e.text.h6 Страница не&nbsp;существует или недоступна  в&nbsp;данный&nbsp;момент
				+e.btn.btn.btn-dark(href="/")  вернуться на главную
	// end headerBlock

