mixin sFolkVote(data)
	// start sFolkVote
	+b.SECTION.sFolkVote.section#sFolkVote&attributes(attributes)
		.before
		.container-xl-fluid.container
			.container
				+e.row.row
					.col-lg-6.order-lg-last
						+b.hands-block
							+e.item--1
								img(src="img/hand-1.png", alt="") 
							+e.item--2
								img(src="img/hand-2.png", alt="") 
							+e.item--3
								img(src="img/hand-2.png", alt="") 
					.col
						+b.section-title
							h2 Народное голосование
						+e.row-date.row
							.col
								p Пользователи выберут лучшие бизнес-сообщества, социальные проекты и назовут лучших блогеров Рунета
							.col-sm-auto.order-sm-first
								+e.date 1 – 12 <br> декабря
	// end sFolkVote