mixin sFolkVote(data)
	// start sFolkVote
	+b.SECTION.sFolkVote.section#sFolkVote&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sFolkVote
				
			+e.row.row
	// end sFolkVote