mixin sFolkVote(data)
	// start sFolkVote
	+b.SECTION.sFolkVote.section#sFolkVote&attributes(attributes)

		#scene3
			+b.el--9.layer( data-depth="0.3"): div()
				img(src="img/el-9.png", alt="").res-i
			+b.el--10.layer( data-depth="0.2"): div()
				img(src="img/el-10.png", alt="").res-i
			+b.el--11.layer( data-depth="0.5"): div()
				img(src="img/el-11.png", alt="").res-i
			.before
		.container-xl-fluid.container
			.container
				+e.row.row
					.col-lg-6.order-lg-last
						+b.hands-block
							+e.item--1
								img(src="img/hand-1.png", alt="") 
							+e.item--2
								img(src="img/hand-2.png", alt="") 
							+e.item--3
								img(src="img/hand-2.png", alt="") 
					.col
						+b.section-title
							h2 Народное голосование
						+e.row-date.row
							.col
								p Пользователи выберут лучшие бизнес-сообщества, социальные проекты и назовут лучших блогеров Рунета
							.col-sm-auto.order-sm-first
								+e.date 1 – 12 <br> декабря
	// end sFolkVote