extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
//- include ../blocks/sNominations/_sNominations.pug
//- include ../blocks/sSteps/_sSteps.pug
 
//- include ../blocks/sFolkVote/_sFolkVote.pug
include ../blocks/sNewsPage/_sNewsPage.pug
include ../blocks/footer/_footer.pug
include ../blocks/top-nav/_top-nav.pug
include ../blocks/sExperts/_sExperts.pug
include ../blocks/sNominees/_sNominees.pug

block variables
	- let  mainPage= '' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Новости с топиком'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+top-nav
	main
		+headerBlockNews('topik')
		.container-xl-fluid.container
		+sNewsPage
	+footer