extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sNominations/_sNominations.pug
include ../blocks/sSteps/_sSteps.pug
 
include ../blocks/sFolkVote/_sFolkVote.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/footer/_footer.pug
include ../blocks/top-nav/_top-nav.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+top-nav('main')
	main
		//- +headerBlock 
		
		//- +sNominations
		//- +sSteps
		//- +sFolkVote
		//- +sNews
		+sPartners
	+footer

	<script async src="https://unpkg.com/es-module-shims@1.8.0/dist/es-module-shims.js"></script>
	script(type="importmap").
		{
			"imports": {
				"three": "https://cdn.jsdelivr.net/npm/three@0.156.1/build/three.module.js",
				"three/addons/": "https://cdn.jsdelivr.net/npm/three@0.156.1/examples/jsm/"

			}
		} 
	script(type="module")
		include ../blocks/headerBlock/main.js
      



