mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.alems#headElems
			+b.el--27( data-depth="0.07"): div(data-aos="fade-up" data-aos-delay="500"    data-aos-duration="2000" )
				+pic("el-27.png",'')
			+b.el--10( data-depth="0.05"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
				+pic("el-10-1.png",'')
			+b.el--28( data-depth="0.02"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
				+pic("el-28.png",'')
			+b.el--26( data-depth="0.09"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
				+pic("el-26.png",'')
			+b.el--29( data-depth="0.04"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
				+pic("el-29.png",'')
			+b.el--30( data-depth="0.08"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
				+pic("el-30.png",'')
			+b.el--1( data-depth="0.03"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
				+pic("el-1.png",'')
			+b.el--2( data-depth="0.03"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
				+pic("el-2.png",'')
			+b.el--31( data-depth="0.07"): div(data-aos="fade-up"  data-aos-delay="500"  data-aos-duration="2000")
				+pic("el-31.png",'')
		.container-xl-fluid.container
			block
	// end sContent