mixin sPartners(pa)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		#scene4 
			+b.el--12.layer( data-depth="0.1"): div( data-aos="fade-up")
				+pic("el-12.png",'', pa).res-i
				
			+b.el--13.layer( data-depth="0.2"): div( data-aos="fade-up")
				+pic("el-13.png",'', pa).res-i
			+b.el--14.layer( data-depth="0.1"): div( data-aos="fade-up")
				+pic("el-14.png",'', pa).res-i
			+b.el--15.layer( data-depth="0.13"): div( data-aos="fade-up")
				+pic("el-15.png",'', pa).res-i
			+b.el--16.layer( data-depth="0.15"): div( data-aos="fade-up")
				+pic("el-16.png",'', pa).res-i

		.container-xl-fluid.container
			.section-inner.section-inner--transparent.p-0
				.container 
					+b.section-title( data-aos="fade-up") 
						h2 Партнеры 
					+e.inner
						mixin item(i,pa)
							+e.col.col-md-3.col-6( data-aos="fade-up")&attributes(attributes)
								+e.item
									+pic(`logo-${i}.png`,'',pa).res-i
						+e.group 
							+e.row.row
								+e.group-title--col.h4.col-md-3.order-first( data-aos="fade-up")  Организатор
								+item('1')
								+e.group-title--col.h4.col-md-auto.order-md-first( data-aos="fade-up")  При поддержке
								.col-12.m-md-0.order-md-first  
								+item('2')
								+item('3')
								+item('4')
						
						+e.group
							+e.group-title.h4( data-aos="fade-up") Партнеры номинации
							+e.row.row
								+item('5')  
								+item('6')
								+item('7')
								
						
						+e.group
							+e.group-title.h4( data-aos="fade-up") Генеральные партнеры
							+e.row.row
								+item('8')
								+item('9')
								+item('10')
								+item('11')
								+item('12')
								+item('13')
								
						+e.group
							+e.group-title.h4( data-aos="fade-up") Информационные партнеры
							+e.row.row
								+item('14') 
								+item('15') 
								+item('16') 
								+item('17') 
								+item('18') 
								+item('19') 
								+item('20') 
								+item('21') 
								+item('22') 
								+item('23') 
								+item('24') 
								+item('25') 
								+item('26') 
								+item('27') 
	// end sPartners