.form-group{

	margin-bottom: rem(36);
}
.form-wrap {
	&__input-wrap {
		// @extend .form-group;
		margin-bottom: rem(36);
	}
	&__input {
		// @extend .form-control;
		//  outline: 0 !important;
		resize: none;
	}
	&__input-title{
		color: $primary;
		font-weight: bold;
		letter-spacing: -0.03em;
		display: block;
		margin-bottom: rem(8);
		
	}
	.btn { 
		margin-bottom: rem(36);
	}
	label {
		width: 100%;
		display: block;
	}
	&__footer{
		border-top: 1px solid rgba(255, 255, 255, 0.08);
		padding-top: rem(36);
	}

	textarea{
		min-height: 112px;
	}
}


//
@include media-breakpoint-up(xl) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(xs) {}
@include media-breakpoint-between(md, xl) {}
@include media-breakpoint-only(xl) {}
@include media-breakpoint-down(xs) {}

.form-check {
}
.form-check-input {
}
.form-check-label {
}


input[type='number'] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}



.form-select{
option{
	background:   $body-bg;
	font-size: rem(18);
}
}