.menu{
	@include media-breakpoint-up(md) {

		display: flex;
		text-align: center;
		@include roww(rem(56));
		// flex-wrap: wrap;
	}

	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	li{
		
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
	}
	a{
		display: block;
		color: #fff;
		&:hover{
			color: $primary;
		}
		font-size: rem(16);
		font-weight: bold;
		padding: rem(20) calc(var(--bs-gutter-x) / 2);
	}
}



.toggle-menu-mobile {
	--h: 1px;
	--color: #{$primary};
	--position: calc(var(--h) * 4);
	&.on span {
		// --color: transparent;
	}

	&.on  { 
		--position: 0; 
		--rotate: 45deg;
	}
	display: block;
	height: calc(var(--h)* 12);
	position: relative; 
	font-size: 28px;
	width: 1em;
	cursor: pointer;
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	} 
	span {
		@include a-cent(y);
		display: block;
	}

	span:before { 
		top: var(--position);
		transform: rotate3d(0,0,1, var(--rotate, 0));
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0,0,1, calc(-1 * var(--rotate,0)));
	}
	span{

		width: 1em;
		height: var(--h);
	}
	span:after,
	span:before {
		width: 1em;
		// width: 32px;
		height: var(--h);
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden; 
		transform-origin: 50% 50%;
	} 
}
@include media-breakpoint-down(md) {

	

	.menu-mobile {
		position: fixed !important;
		z-index: 999;
		width: 100%; 
		top: 0;
		// left: 0;
		right: 0; 
		opacity: var(--opacity);
		&:not(.active){
			// transform: scale(0);
			transform-origin: top center;
			visibility: hidden;
			--opacity: 0;
			.toggle-menu-mobile{
				opacity: 0;
			}
		}
		@include mt(.6s);
		will-change: transform;
		text-align: center;
		img{
			max-width: 60px;
		}
		.toggle-menu-mobile {  
			position: absolute; 
			right: 20px;
			color: #FFF;
			top: 25px;
			z-index: 9999; 
			span:after,
			span:before {
				// --color: #ffffff;
			}
		}
		&__inner {
			.container{
				position: relative;
			}
			padding: calc(env(safe-area-inset-top, 0px) + 10px) 0 calc(env(safe-area-inset-bottom, 0px) + #{rem(20)});
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: 100vh; 
			display: flex;
			flex-direction: column;
			
		}

		&.active { 
			.toggle-menu-mobile {
				opacity: 1;
			}
		}


		ul {
			position: relative;
		}

		li {
			display: block;
			margin: 0; 
			a {
				// font-size: 16px;
				font-size: 36px;
				// @extend .mono;
				font-family: var(--bs-font-monospace);
				// padding: 10px;
				display: inline-block;
				margin-bottom: 16px;
				// display: block;

			}
		}
		.footer{
			text-align: left;
			background: none; 
			position: relative;
			&::before{
				content: '';
				left: 20px;
				position: absolute;
				top: 0;
				width: calc(100% - 40px);
				background-color: #fff;
				height: 1px;
			}
			padding-top: 24px;
			.row{
				align-items: center;
			}
		}

		&__head{
			position: relative;
			margin-bottom: 60px;
			.iconC{
				position: absolute;
				left: 20px;
				top: 25px;
			}
		}
	}
}