
.top-nav {
	// @include mt;
	@include media-breakpoint-up(md) {

		--sPT: #{rem(54)};
	}
	--sPT: 20px;
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// @include media-breakpoint-up(md) {
			// --bs-gutter-y: var(--bs-gutter-x);
		// }

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}
	img{
		@include media-breakpoint-up(lg) {
			max-width: rem(145);
		}
		@include media-breakpoint-up(md) {
			max-width: rem(109);
		}
		max-width: 44px;
	}


	@include media-breakpoint-up(sm) {}
	
	@include media-breakpoint-up(xs) {}
	// 
	@include media-breakpoint-between(md, xl) {}
	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-down(xs) {}
	@include media-breakpoint-down(md) {
		.row{
			align-items: center;
		}
	}
}


