mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-md-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	+b.menu-mobile.menu-mobile--js.d-md-none
		.menu-mobile__inner
			+e.head.d-md-none.container

				+iconC("menu")
				a(href="/")
					img(src="img/logo.svg", alt="")
				+menu-toggle()

			+mnu()
			+b.footer.d-md-none.container
				.row
					.col
						+e.link(href="tel:+7(800)8000000") +7 (800) 800 0000 
						br
						+e.link(href="mailto:premia@runet.group") premia@runet.group
					.col-lg-12.col-auto
						+e.link(href="#")
							+icon('vk') 
	// start top-nav
	+b.top-nav.block-with-lazy.section
		.container-xl-fluid.container
			+e.row.row( data-aos="fade-up") 
				.col
					a(href="/")
						img(src="img/logo.svg", alt="")
				.col-md-auto.order-md-0.order-last.d-none.d-md-block
					+mnuLanding()
				.col-auto.d-md-none
					+menu-toggle()
	// end top-nav