
.main-page .top-nav {
		img{
		@include media-breakpoint-up(lg) {
			max-width: rem(145);
		}
		@include media-breakpoint-up(md) {
			max-width: rem(109);
		}
		max-width: 44px;
	}
}
.top-nav {
	// @include mt;
	position: relative;
	z-index: 2;
	@include media-breakpoint-up(md) {

		--sPT: #{rem(54)};
	}
	--sPT: 20px;
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// @include media-breakpoint-up(md) {
			// --bs-gutter-y: var(--bs-gutter-x);
		// }

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}
	img{
		flex:  0 0 auto;
		height: auto;
		@include media-breakpoint-up(lg) {
			max-width: rem(84);
		}
		@include media-breakpoint-up(md) {
			max-width: rem(84);
			// max-width: rem(109);
		}
		max-width: 44px;
	}

	&__logo{
		display: flex;
		align-items: flex-start;
		line-height: 0.8;
		@include rfs(54px);
	}
	&__text{
		margin-left: rem(26);
		color: #fff ;
		// font-size: rem(40);
		text-transform: uppercase; 
		.text-primary{
			font-size: .8em;
		}
	}


	@include media-breakpoint-up(sm) {}
	
	@include media-breakpoint-up(xs) {}
	// 
	@include media-breakpoint-between(md, xl) {}
	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-down(xs) {}
	@include media-breakpoint-down(md) {
		.row{
			align-items: center;
		}
	}
}


