mixin item(img,date,title,text)
	+e.item.LI
		+e.link(href="#")
			if img
				+e.img-wrap( data-aos="fade-up") 
					+pic(`news-img-${img}.jpg`).res-i
			+e.caption
				+e.date( data-aos="fade-up")= date
				+e.title.h6( data-aos="fade-up")= title
				p( data-aos="fade-up")= text
mixin sNewsPage(data)
	// start sNews
	+b.SECTION.sNewsPage.section.section--animate#sNews&attributes(attributes)
		.container-xl-fluid.container.animate-block
			.section-inner
				.container
					//- +b.section-title( data-aos="fade-up") 
					//- 	.row
					//- 		.col
					//- 			h2 Новости
					//- 		.col-auto
					//- 			+e.link(href="#") 
					//- 				+icon("arrow-right")
					+e.list.UL
						+item('4','13 декабря','Объявлены лауреаты Премии Рунета 2022','13 декабря в Москве, на площадке пресс-центра МИА «Россия сегодня», состоялась торжественная церемония вручения национальной награды «Премия Рунета 2022»')
						+item('','28 ноября','Более 1000 организаций и проектов подали заявки на участие в Премии Рунета','28 ноября завершился приём заявок на Премию Рунета, которая вручается за значительный вклад в развитие российского сегмента интернета')
						+item('5','20 ноября','Памятка экспертам Премии Рунета','Как стать экспертом Премии Рунета, как проходит судейство, что получает эксперт Премии?')
						+item('6','14 ноября','Прием заявок на Премию Рунета продлен до 28 ноября','6 декабря 2022 года объявлен шорт-лист Премии Рунета — престижной награды российской интернет-отрасли, которая в этом году будет вручена уже в 19-й раз')
						+item('7','6 декабря','Опубликован шорт-лист Премии Рунета 2022','6 декабря 2022 года объявлен шорт-лист Премии Рунета — престижной награды российской интернет-отрасли, которая в этом году будет вручена уже в 19-й раз')
						+item('8','23 ноября','Организатор “Премии Рунета” Сергей Гребенников рассказал, как получить интернет-оскар','Продолжается прием заявок на Премию Рунета — одну из ключевых наград в сфере интернета и технологий')
						+item('','18 ноября','Премия Рунета прогнозирует тренды и определяет лидеров рынка будущего','Из года в год в рамках «Премии Рунета» отбираются выдающиеся проекты в российском сегменте Всемирной паутины. Церемония объединяет представителей самых разных компаний, которые вносят общий вклад в процветание цифровых технологий')
						+item('1','7 ноября','Премия Рунета: сохранили стоимость подачи заявки до 7 ноября','Ноябрьские праздники — отличная возможность не только отдохнуть, но и доделать накопившиеся дела.')
						+item('3','30 ноября','Стартует «Народное Голосование» Премии Рунета','С 1 по 12 декабря пользователи определят победителей в трех номинациях: «Лучший блогер Рунета», «Лучшее бизнес-сообщество в соцсетях» и «Лучший социальный проект в Рунете»')
						+item('2','22 ноября','Оцифровать культуру: 7 проектов-лауреатов Премии Рунета, о которых вы должны знать','Современные культуру и искусство невозможно представить без инновационных технологий')
						+item('10','18 ноября','Зачем диджитал-компаниям премии и рейтинги','Если вы PR-менеджер, маркетолог или руководитель, но все еще пропускаете премии и рейтинги — эта статья для вас')
						+item('','30 ноября','Опубликован шорт-лист Премии Рунета 2022','6 декабря 2022 года объявлен шорт-лист Премии Рунета — престижной награды российской интернет-отрасли, которая в этом году будет вручена уже в 19-й раз')
	// end sNews