
mixin mnu()
	nav
		ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement") 
			li.menu-item(itemprop="item" )
				a(href="#") Номинанты
				
			li.menu-item(itemprop="item" )
				a(href="#") Эксперты
			li.menu-item(itemprop="item" )
				a(href="#") Номинанты
			li.menu-item(itemprop="item" )
				a(href="#") Новости
			li.menu-item(itemprop="item" )
				a(href="#") Архив
//- menu

mixin mnuLanding()
	nav
		ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement") 
			li.menu-item(itemprop="item" )
				a(href="#") Номинанты
				
			li.menu-item(itemprop="item" )
				a(href="#") Эксперты
			li.menu-item(itemprop="item" )
				a(href="#") Новости
			li.menu-item(itemprop="item" )
				a(href="#")
					+icon('vk')
