mixin sNominees(data)
	// start sNominees
	+b.SECTION.sNominees.section#sNominees&attributes(attributes)
		.container-xl-fluid.container.animate-block
			.container
				+b.filter-block
					+e.title(data-aos="fade-up"  ) Поиск по номинантам
					+e.row.row
						.col-lg-auto.col-md-7(data-aos="fade-up"  )
							+search() 

						.col-lg
							+e.selects.ms-auto
								+e.row-sm.row
									.col-md-7(data-aos="fade-up"  )
										.select-wrap
											select.form-select.select-js
												option(value="")  Все номинации 
												option(value="")  Все номинации 2
												option(value="")  Все номинации 3
									.col-md-5(data-aos="fade-up"  )
										.select-wrap
											select.form-select.select-js
												option(value="")  Все этапы
												option(value="")  Все этапы
												option(value="")  Все этапы
				+e.row.row
					mixin item(t,p, f)
						+e.col.col-xxl-3.col-lg-4.col-md-6(data-aos="fade-up"  )
							+b.card(href="#")&attributes(attributes)
								block
								+e.body 
									+e.title!= t
									.h6!= p
								+e.footer!= f
					-for (var i = 0; i < 5; i++)
						+item(`«Особый взгляд на Золотое кольцо»`,`Информационное Агентство России ТАСС`,`Туризм и индустрия гостеприимства`)
						+item(` Проект «Объясняем.РФ»`,`АНО «Национальные приоритеты»`,`Государство и общество`)
							+e.label Шортлист
						+item(`Программы поддержки бизнеса`,`Федеральная налоговая служба`,`Экономика и бизнес`)
						+item(`Проект «Цифровое право»`,`Российское агентство правовой и судебной информации (РАПСИ)`,`Государство и общество`)
							+e.label Шортлист
						
	// end sNominees

mixin sNominees2(data)
	// start sNominees
	+b.SECTION.sNominees--2.section#sNominees&attributes(attributes)
		.container-xl-fluid.container.animate-block
			+e.row.row
				mixin item(t,p, f)
					+b.card(href="#" data-aos="fade-up")&attributes(attributes)
						block
						+e.body 
							if t
								+e.title!= t
							if p
								.h6!= p
						if f
							+e.footer!= f
				.col-xxl-3.d-none.d-xxl-block
				.col-xxl-9
					+e.slider.def-slider-js.swiper
						.slider-control
							.h3 СМИ о нас
							+arrow
						.swiper-wrapper
							- for(let i = 0; i < 2; i++)
								+e.slide.swiper-slide 
									+item(`Мобильное приложение Город запускает виртуального оператора мобильной связи`,``,`ComNews`)
										+e.label 24 апреля
								+e.slide.swiper-slide 
									+item(` Проект «Объясняем.РФ»`,`АНО «Национальные приоритеты»`,`Государство и общество`)
										+e.label 18 августа 2021
								+e.slide.swiper-slide 
									+item(`Программы поддержки бизнеса`,`Федеральная налоговая служба`,`Экономика и бизнес`)
										+e.label 24 апреля

mixin sNominees3(data)
	// start sNominees
	+b.SECTION.sNominees--3.section#sNominees&attributes(attributes)
		.container-xl-fluid.container.animate-block
			mixin item(t,p, f)
				+b.card(href="#" data-aos="fade-up")&attributes(attributes)
					block
					+e.body 
						if t
							+e.title!= t
						if p
							.h6!= p
					if f
						+e.footer!= f
			+e.slider.def-slider-js.swiper
				.slider-control
					.h3 Другие номинанты
				.swiper-wrapper
					- for(let i = 0; i < 2; i++)
						+e.slide.swiper-slide 
							+item(`«Особый взгляд на Золотое кольцо»`,`Информационное Агентство России ТАСС`,`Туризм и индустрия гостеприимства`)
						+e.slide.swiper-slide 
							+item(` Проект «Объясняем.РФ»`,`АНО «Национальные приоритеты»`,`Государство и общество`)
								+e.label Шортлист
						+e.slide.swiper-slide 
							+item(`Программы поддержки бизнеса`,`Федеральная налоговая служба`,`Экономика и бизнес`)
						+e.slide.swiper-slide 
							+item(`Проект «Цифровое право»`,`Российское агентство правовой и судебной информации (РАПСИ)`,`Государство и общество`)
								+e.label Шортлист