// start .sNominees
.sNominees {
	@include media-breakpoint-down(lg) {
		.search-block{
			width: 100%;
		}
	}
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
		min-height: 1000px;
			padding-bottom: calc(var(--sPB) * 2);
	&__row{
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: #{rem(50)};
		}
		--bs-gutter-x: #{rem(40)};

		--bs-gutter-y: var(--bs-gutter-x);
	}
	.section-title{
		
	}
	&__col{
		
	}
	&__item{
		
	}

	.card{
		@include media-breakpoint-up(sm) {
			min-height: 100%;
			height: rem(390);
		}
		@include media-breakpoint-up(sm) {
			padding: rem(100) var(--card-sp) var(--card-sp);
		}
		padding: rem(70) var(--card-sp) var(--card-sp);
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 2;
		color: #fff;
		@include mt;
		&__body{

			flex-grow: 1;
		}
		&__label{
			@include mt;
			position: absolute;
			left: var(--card-sp);
			top: var(--card-sp);
			font-weight: bold;
			color: var(--color, var(--bs-primary));
		}
		&__title{
			@include rfs(28px);
			margin-bottom: rem920;
			font-weight: bold;
			line-height: 1;
			margin-bottom:  rem(24);
		}
		.h6{
			color: var(--color, #959595);
			@include mt;
			margin-bottom: 24px;
		}
		&__footer{
			color: var(--color, #959595);
			@include mt;
		}
		&::before{
			content: '';
			border-radius: inherit;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			position: absolute;
			z-index: -1;
			background-color: $primary;
			@include mt;
			opacity: var(--op,0);
		}
		&:hover{
			color: $dark;
			--color: #{$dark};
			--op: 1;
		}
	}

	// 

	&__slider {
		--slideCount: 1;
		--sliderGutter: #{rem(16)};
		@include media-breakpoint-up(sm) {
			--slideCount: 2;
		}
		@include media-breakpoint-up(xl) {
			--slideCount: 3;
		}

		margin-right: calc(var(--sliderGutter)*-1);
	}

	&__slide {
		margin-right: calc(var(--sliderGutter));
    width: calc(100%/var(--slideCount) - var(--sliderGutter));
	}

	.slider-control {
		display: flex;
		align-items: center;
		margin-bottom: rem(44);
		margin-right: var(--sliderGutter);
		.swiper-button-hand {
			--swiperArrowSize: #{rem(50)};
			--swiperBgDef: #{$body-bg};
			--swiperBorderColorDef: #{$primary};
			--swiperColorDef: #{$primary};

			--swiperBorderColorDefHover: #{$primary};
			--swiperColorDefHover: #{$body-bg};
			--swiperBgDefHover: #{$primary};

			position: static;
			display: none;
			@include media-breakpoint-up(xxl) {
				display: flex;
			}
			&-prev {
				margin-left: auto;
				margin-right: rem(16);
			}
			.icon {
				font-size: rem(21);
				fill: none;
				stroke: currentColor;
				stroke-width: rem(2);
				width: 1em;
				height: 1em;
			}
		}
		.h3 {
			margin-bottom: 0;
			font-weight: 700;
			@include media-breakpoint-up(md) {
				font-size: rem(38);
			}
		}
	}
	&--2 {
		--sPT: 0;

		min-height: auto;
		padding-bottom: rem(120);
		position: relative;
		.sNominees {
			&__row {
				position: relative;
				padding-bottom: rem(200);
				&:after {
					content: '';
					position: absolute;
					display: block;
					width: calc(100% - var(--bs-gutter-x));
					left: calc(var(--bs-gutter-x) / 2);
					bottom: 0;
					height: rem(1);
					background-color: #fff;
				}
			}
		}
		.card {
			&__label {
				font-size: rem(14);
				font-weight: 500;
			}
			&__title {
				font-size: rem(18);
				font-weight: 700;
				@include media-breakpoint-up(xxl) {
					font-size: rem(18);
					max-width: rem(284);
				}
			}
		}
	}
	&--3 {
		--sPT: 0;
		padding-bottom: rem(120);
		.sNominees {
			&__slider {
				@include media-breakpoint-down(md) {
					margin-right: 0;
				}
				.swiper-wrapper {
					@include media-breakpoint-down(md) {
						transform: none !important;
						flex-wrap: wrap;
					}
				}
			}
			&__slide {
				@include media-breakpoint-down(md) {
					margin-right: 0;
					width: 100%;
					&:not(:last-child) {
						margin-bottom: rem(20);
					}
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sNominees